* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

body {
    width: 100%;
    color: white;
    background: black;
}

nav {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-vert {
    display: flex;
    flex-direction: column;
}

.main-container {
    width: 1200px;
    margin: auto;
    row-gap: 20px;
    padding: 100px 0;
}

.book {
    gap: 30px;
    border: 2px white solid;
    padding: 20px;
}

.content {
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-basis: 90%;
}

.review p {
    text-align: justify;
}

.content > div {
    text-align: center;
}

h2 {
    font-size: 2.4rem;
}

h2.header {
    text-align: center;
}

/* .title h2 {
    font-size: 2.4rem;
} */

header {
    height: 150px;
    background: white;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

div.flex-row.icons {
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

div.flex-row.edit {
    justify-content: space-between;
    width: 20%;
}

.view {
    padding: 8px 12px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

.view a {
    text-decoration: none;
}

.view:hover {
    background-color: #301934;
    color: white;
}

div.add-form {
    background: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create {
    padding: 8px 12px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.create a {
    text-decoration: none;
}

.create:hover {
    background-color: #301934;
    color: white;
}

/* forms */
#myForm {
    border: solid;
    padding: 40px;
}

form#myForm.flex-vert {
    gap: 20px;
    align-items: center;
}

form#myForm.flex-vert > * {
    width: 60%;
}

label {
    text-align: center;
}

input#rating {
    margin-bottom: 20px;
}

input.submit {
    width: 100px !important;

}


#myForm > div {
    justify-content: center;
    gap: 30px;
}

/* form#myForm.flex-vert.sort {
    border: solid;
    padding: 40px;
} */